<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <a href="#" class="logo">LOGO</a>
    </div>

    <div class="footer-links">
      <ul>
        <li><a href="#">Benefícios</a></li>
        <li><a href="#">Lojistas</a></li>
        <li class="dropdown">
          <a href="#">Produtos <span class="icon-arrow">^</span></a>
          <ul class="dropdown-content">
            <li><a href="#">Meias KingSocks</a></li>
            <li><a href="#">Canelitos</a></li>
            <li><a href="#">Camisetas</a></li>
          </ul>
        </li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <a href="#"><img src="../assets/icons/facebook.svg" alt="Facebook" /></a>
      <a href="#"><img src="../assets/icons/youtube.svg" alt="YouTube" /></a>
      <a href="#"><img src="../assets/icons/twitter.svg" alt="Twitter" /></a>
    </div>
  </div>
</footer>
